<div class="col-sm-offset-4 col-sm-10" id="form-login">
  <div class="panel panel-default">
    <div class="panel-heading">Login</div>
      <form ng-submit="login()" no-validate>
        <div class="input-login">
          <div class="form-group">
            <label class="control-label" for="username"><b>Username</b></label>
          	<input class="form-control" id="username" type="text" required placeholder="Username" ng-model="user.username" autofocus/>
          </div>
          <div class="form-group">
            <label class="control-label" for="password"><b>Password</b></label>
          	<input class="form-control" id="password" type="password" required placeholder="Password" ng-model="user.password" /><br/>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
          <div class="alert alert-danger" ng-show="errorMessage"/>
            {{message}}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-md btn-block">Sign in</button>
          </div>
          <div class="text-center" close="forgotPassword"/>
            <a ng-click="forgotPassword()" id="login-href">Forgot Password your password?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
