<html>
  <head>
    <title>blog for all</title>
  </head>
  <body>
    <div class="container">
      <p> Dear user, </p>
      <p> You have requested to reset your password for your blog for all account</p>
      <p >Click here to reset <button id="button-signup" class="btn btn-primary btn-md btn-block"> Reset </button>
      <p> Thanks </p>
      <p> blogForAll Team</p>
    </div>
  </body>
</html>